$lt-grey: #ddd;
$background-dark: #511DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$floralwhite: #fffaf0;

// Height Variables

$carousel-item-height: 300px;

@mixin zero-margin ($pad-up-dn, $pad-left-right) {
	margin: 0px auto;
	padding: $pad-up-dn $pad-left-right;
}

.row-header {
	@include zero-margin (0px, 0px) 
}

.row-content {
	@include zero-margin(50px, 0px);
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer {
	background-color: $background-pale;
	@include zero-margin(20px, 0px); 
}

.jumbotron {
	@include zero-margin(100px, 30px);
	background: $background-light;
	color: $floralwhite;
	padding-bottom: 50px;
}

#max150 {
    max-height: 150px;
}

address {
	font-size: 80%;
	margin: 0px;
	color: #0f0f0f;
}

body {
	padding: 50 0 0 0;
	z-index: 0;
}

.navbar-dark {
	background-color: $background-dark !important;
}

.tab-content {
	border-left: 1px solid $lt-grey;
	border-right: 1px solid $lt-grey;
	border-bottom: 1px solid $lt-grey;
	padding: 10px;
}

.carousel {
	background: $background-dark;

	.carousel-item {
		height: $carousel-item-height;

		img {
			position: absolute;
			top: 0px;
			left: 0px;
			min-height: 300px;
		}
	}
}

.carousel-caption {
	padding-bottom: 60px;
}

#carouselButton2 {
	right: 0px;
	position: absolute;
	bottom: 0px;
	z-index: 1;
}

.modal-content {
	border: 0px;
	.modal-header {
		background-color: $background-dark;
		color: $floralwhite;
		border: 0px;
		
		button {
			color: $floralwhite;
		}
	}
	.modal-body {
		background-color: $background-pale;
	}
}

.close {
  color: $floralwhite;
  text-shadow: 0 1px 0 #fff;
  opacity: 1;
}




